.kh-container {
  @media (min-width: 1200px) {
    width: 1170px;
  }

  @media (min-width: 992px) {
    width: 960px;
  }

  @media (min-width: 768px) {
    width: 740px;
  }

  width: 100%;
  margin: 0 auto;
}

.kh-row {
  margin-right: -15px;
  margin-left: -15px;
}

.kh-col {
  padding: 0 15px;
  box-sizing: border-box;
}

.kh-p-5 {
  padding: 3rem;
}
.kh-p-4 {
  padding: 2rem;
}
.kh-p-3 {
  padding: 1rem;
}
.kh-text-center {
  text-align: center;
}
#progressInfo {
  white-space: pre-wrap;
}
@import './libs/loading';

.cursor-fee-info {
  position: relative;
  display: inline;
  .fee-info {
    opacity: 0;
    width: 200px;
    height: auto;
    padding: 0.5rem;
    position: absolute;
    left: 16px;
    bottom: 0;
    background-color: #313131f2;
    font-weight: 400;
    color: white;
    z-index: -1;
    font-family: Lato;
    font-size: 12px;
    line-height: 1.3;
    transition: all 320ms;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    /* IE 5-7 */
    filter: alpha(opacity=0);

    /* Netscape */
    -moz-opacity: 0;

    /* Safari 1.x */
    -khtml-opacity: 0;

    /* Good browsers */
    opacity: 0;
  }
  &:hover {
    .fee-info {
      -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=1)';
      /* IE 5-7 */
      filter: alpha(opacity=100);

      /* Netscape */
      -moz-opacity: 1;

      /* Safari 1.x */
      -khtml-opacity: 1;

      /* Good browsers */
      opacity: 1;

      z-index: 1;
    }
  }
}
