@import './libs/variables';

.free-background {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -222;
  min-height: 250px;
  background-color: $primary;
}

footer {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  color: white;
  margin-top: 5rem;
}
